//colores//
$Dark_primary:#303F9F;
$ligth_primary:#C5CAE9;
$text_icons:#FFFFFF;
$divider:#BDBDBD;
$primary_text:#212121;
$secondary_text:#757575;
$acent_color:#4CAF50;

//fuentes//
$principal: 'Barlow', 'sans-serif';
$secundaria: 'Roboto';

//tamaños//
$small: 1.4em;
$mid: 2.2em;
$large:5.2em;

