//colores//
$dark-primary-color:#1976D2; 
$default-primary-color: #2196F3; 
$light-primary-color: #BBDEFB;
$text-primary-color : #FFFFFF; 
$accent-color: #607D8B; 
$primary-text-color: #212121; 
$secondary-text-color: #757575; 
$divider-color: #BDBDBD; 
//fuentes//
$principal: 'Barlow', 'sans-serif';
$secundaria: 'Roboto';

//tamaños//
$small: 1.4em;
$mid: 2.2em;
$large:5.2em;

