<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      
    <link href="../assets/fontawesome-free-6.1.1-web/css/all.css"rel="stylesheet" />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="../assets/img/car-solid.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;500;900&display=swap" rel="stylesheet">
    <title>some Rent a car</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">  
  </head>
<body>
  <section id="wrapper-gral">
    <header>
      <nav class="menu">            
        <input  type="checkbox" id="check">
        <label for="check" class="checkBtn">
          <i class="fa-solid fa-bars" ></i>
        </label> 
        <img src="../assets/img/car_hero.png" alt=""/ class="logo"> 
        <ul> 
          <li><a href="../index.html">Inicio</a></li>                
          <li><a href="../views/nosotros.html">Nosotros</a></li>
          <li><a href="../views/nuestraFlota.html">Nuestra Flota</a></li>
          <li><a href="../views/condiciones.html">Condiciones</a></li>
          <li><a href="../views/faq.html">FAQ</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>    
      </nav>   
    </header>
      <main>
        <div class="condiciones_text">
          <h1>
            DOCUMENTACIÓN NECESARIA AL MOMENTO DE RETIRAR LA UNIDAD
          </h1>
          <p>
          La confirmación de la Reserva implica el conocimiento y aceptación de las condiciones de la 
          misma. Para consultar demás condiciones de alquiler, requisitos, cargos adicionales, 
          restricciones, etc., le recomendamos ingrese en nuestra web: www.hertz.com.ar, donde 
          encontrara disponibles todas las especificaciones. El cliente debe presentarse a retirar 
          el automóvil reservado portando D.N.I., o Pasp, Licencia de Conducir vigente 
          -la nacionalidad de la licencia de conducir debe coincidir con la nacionalidad del 
          documento que acredita identidad- y Tarjeta de Crédito para garantizar la franquicia 
          (La tarjeta de crédito utilizada para la garantía debe estar emitida por un banco. 
          No se aceptan tarjetas prepagas. El titular de la tarjeta que garantiza el alquiler 
          debe estar presente para firmar el cupón correspondiente.). (ver coberturas y garantías).
          – Se le hará una preautorización en la tarjeta de crédito del cliente en concepto de garantía 
          del alquiler. La tarjeta de crédito deberá contar con fondos suficientes para generar dicha 
          preautorización, caso contrario no se podrá concretar el alquiler. Por favor consulte el monto 
          que deberá tener disponible llamando al 11 7090-4000 o 0810 222 4378 o a la sucursal de la 
          que retirará el vehículo. Requisito de alquiler: ser mayor de 21 años (podrán alquilar entre 
          18 y 20 años, abonando el cargo por conductor joven). El alquiler será abonado al momento de 
          retirar el vehículo. La confirmación de reserva, estipula una clase de vehículo o similar, tarifa y horario de inicio y fin del alquiler. La postergación, atraso en la recogida del vehículo sobre una confirmación y hora estipulada no garantizan la disponibilidad de la categoría, la tarifa inicial, unidad y/o vehículo seleccionado; ésta sólo adquiere validez dentro de los tiempos en la cual fue solicitada originalmente
          </p>
        </div>
        <hr>
        <div class="condiciones_text">
          <h1>
            TOLERANCIA DE LA RESERVA
          </h1>
          <p>
            La tolerancia de la reserva será de 45 minutos. En caso de modificaciones, rogamos comunicarla a nuestra central de reservas al 11 7090-4000 o al 0810-222-3789.
            En caso de no presentarse en el horario estipulado podríamos cancelar la reserva</p>
        </div>
        <hr>
        <div class="condiciones_text">
          <h1>
            HORARIOS DE VUELO
          </h1>
          <p>
            Por favor recuerde: Chequear el horario de arribo de su vuelo; si el mismo se demora o 
            reprograma y el nuevo horario es próximo a la hora de cierre de nuestras oficinas en 
            aeropuerto deberá comunicarnos dicho cambio.
            El titular de la reserva o agencia solicitante será responsable de notificar a la Central 
            de Reservas u oficina de toma, los cambios de vuelos y de ofrecer los datos de tarjeta de 
            crédito requeridos para confirmar la espera fuera de horario (en caso de que corresponda), 
            la misma tendrá un cargo adicional (ver cargos adicionales de alquiler).</p>
        </div>
        <hr>
        <div class="condiciones_text">
          <h1>
            PERMISO DE CRUCE DE FRONTERA
          </h1>
          <p>
            Consultar requisitos y tiempo de anterioridad mínimos requeridos para este adicional. 
            Nuestros vehículos solo podrán cruzar hacia Brasil, Uruguay y Chile.
            ** Tomar en cuenta que para cruces a Brasil y Uruguay el cliente debe firmar en original la 
            petición 72 horas hábiles antespara que pueda tramitarse el permiso
            En los casos que solicite permiso de cruce de frontera, la cobertura mecánica y el acarreo 
            en el exterior serán a cargo del cliente. El permiso debe abonarse por adelantado y en caso 
            de cancelación no correspondería reembolso por este concepto. Para alquileres iniciados en 
            El Calafate y quieran transitar por la isla de Tierra del Fuego, como así también los 
            alquileres iniciados en Ushuaia y que deseen circular por el continente Argentino deberán 
            tener el permiso de cruce de frontera. El mismo debe solicitarse con anticipación a la 
            central de Reservas o bien en la oficina de inicio de alquiler. Sera sujeto a disponibilidad 
            y tiene un cargo adicional (ver cargos adicionales de alquiler).
            Si llegado el caso, alguna frontera se encuentre cerrada al momento del retorno del vehículo,
            el cliente es responsable de la guarda del vehículo y de la restitución del mismo. En caso que el 
            vehículo no sea retornado en la sucursal indicada en la solicitud de alquiler aplicaran cargos 
            extras.</p>
        </div>
      </main>
    <footer >
      <div class="row">
          <div class="col-md-3"></div>
        <div class="col-md-3 fuentes piePag">
            <ul>
                <li><a href="./views/condiciones.html">Condiciones</a></li>
                <li><a href="./views/faq.html">FAQ</a></li>
                <li><a href="./views/nosotros.html">Nosotros</a></li>
                <li><a href="./views/nuestraFlota.html">Nuestra Flota</a></li>
  
                
            </ul>
        </div>
        <div class="col-md-3 fuentes">
          
            <fieldset>
                <legend id="contacto">Contactanos</legend>
              <ul>
                  <li><a href="mailto:augusto4809@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>  Reservas@somerentacar.com.ar</li>
                  <li><a href="https://api.whatsapp.com/send?phone=5492944922404" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>  Envianos un whatsapp</li>
                  <li><a href="https://www.google.com/maps/dir//Gral.+Espejo+391,+M5500+Mendoza/@-32.8885385,-68.8461127,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x967e091b7458a1e3:0x3dfae019c07d61e5!2m2!1d-68.843924!2d-32.888543" target="_blank"><i class="fa-solid fa-map-location-dot"></i></a>  Espejo 391, Mendoza  </ul>
                  </li>
              </ul>                        
            </fieldset>
          
        </div>
        <div class="col-md-3"></div>
      </div>
      
  
      <div>
        <p class="derechos">® All rigths reserved</p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </section>
</body>
    </html>