<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.bundle.min.css"
      rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"/>
    <link href="../assets/fontawesome-free-6.1.1-web/css/all.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;500;900&display=swap" rel="stylesheet"/>
    <link rel="shortcut icon" href="../assets/img/car-solid.svg" />
    <title>Enjoy Rent a Car / Preguntas frecuentes</title>
    
  </head>
  <body>
    <section id="wrapper-gral">
      <header>
        <nav >            
          <input  type="checkbox" id="check">
          <label for="check" class="checkBtn">
            <i class="fa-solid fa-bars" ></i>
          </label>
          <a href="../index.html" class="marca enlace">En<span class="jay">j</span>oy</a>        
              
          <div class="menu">                  
            <ul class="">               
              <li><a href="../views/nosotros.html">Nosotros</a></li>
              <li><a href="../views/nuestraFlota.html">Nuestra Flota</a></li>
              <li><a href="../views/condiciones.html">Condiciones</a></li>
              <li><a href="../views/faq.html">Preguntas Frecuentes</a></li>
              <li><a href="../views/contacto.html">Contacto</a></li>
            </ul> 
          </div>
        </nav>   
      </header>
    <main>
      <section>
      <div class="container">
        <h2>Preguntas Frecuentes</h2>
        <p>
          <strong>Importante:</strong> En caso que su consulta no se encuentre
          dentro de estas opciones comuniquese con nuestra central de atencion
          al cliente haciendo
          <a href="mailto:augusto4809@gmail.com" target="_blank">Click aqui</a>
        </p>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse1"
                  ><strong
                    >¿Cuales son los requisitos para alquilar un auto?</strong
                  >
                </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                Para alquilar un vehiculo es necesario ser mayor a los 21 años de edad. 
                Tambien tener una licenciade conducir vigente, si es licencia internacional debe estar acompañada por la licencia del país de órigen, 
                tambien si la licenca es digital.
                Otro requisito es poseer una tarjeta de credito, ya que de ahi tomaremos un monto de garantía, vea nuestra seccion de 
                <strong><a href="../views/condiciones.html">condiciones</a></strong> para ver los montos que debe tener disponible
                según cada tipo de vehiculo disponible. 

              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapse2"
                    ><strong
                      >¿Puedo devolver el auto en otra provincia o país?</strong
                    >
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                  Podes retornar el vehiculo en otra provincia, en esos casos al hacer la reserva te informaremos 
                  los costos adicionales dependiendo de donde quieras hacer la devolución. Lamentablemente no tenemos 
                  la posibilidad de que retornes el vehiculo en otro país.
  
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a
                      data-toggle="collapse"
                      data-parent="#accordion"
                      href="#collapse3"
                      ><strong
                        >¿Si viajo con mis hijos, tengo que llevar mi propia silla de bebe?</strong
                      >
                    </a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Si queres traer tu propia silla podes hacerlo sin problemas, pero tambien podes alquilarla aqui 
                    junto al alquiler del auto con un costo diario adicional. Al momento de realizar tu reserva vas a llgar al sector 
                    de adicionales donde podras reservar tu booster.
    
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapse4"
                        ><strong
                          >¿Como puedo abonar el alquiler?</strong
                        >
                      </a>
                    </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse in">
                    <div class="panel-body">
                      Cuando hagas tu reserva vas a recibir un e-mail con la confirmacion de la misma, ahi 
                      encontraras un link de pago de Mercado Pago o Pay-pal si estas en el extranjero. En caso que 
                      quieras pagar por transferencia bancaria, tambien tendras la cuenta bancaria para poder hacerlo 
                      y en el caso que quieras pagar en efectivo al momento de llegar a Mendoza, tambien podes hacerlo avisandonos 
                      previamente</div>
                  </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse5"
                  >><strong
                    >¿Hay una edad minima (o maxima) para alquilar un auto?</strong
                  >
                </a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">
                Sí, hay que ser mayor de 21 años y no existe edad maxima siempre que tengas una licencia de conducir valida.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse6"
                  ><strong
                    >¿Puedo alquilar un auto con la licencia vencida?</strong
                  >
                </a>
              </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">
                No, salvo que haya alguna prorroga en el municipio donde tenes que tramitar la renovación. En ese caso 
                debes informarlo al momento de realizar la reserva y traer la prorroga para poder circular.

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </main>
    

    <footer >
      <div class="row container-fluid">
          
          <div class="col-md-6 fuentes piePag">
            <ul class="">
                <li><a href="./views/condiciones.html">Condiciones</a></li>
                <li><a href="./views/faq.html">Preguntas Frecuentes</a></li>
                <li><a href="./views/nosotros.html">Nosotros</a></li>
                <li><a href="./views/nuestraFlota.html">Nuestra Flota</a></li>
  
                
            </ul>
        </div>
        <div class="col-12 col-md-6 fuentes">
             <fieldset>
                <legend id="contacto">Contactanos</legend>
              <ul>
                  <li><a href="mailto:augusto4809@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>  Reservas@enjoyrentacar.com.ar</li>
                  <li><a href="https://api.whatsapp.com/send?phone=5492944922404" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>  Envianos un whatsapp</li>
                  <li><a href="https://www.google.com/maps/dir//Gral.+Espejo+391,+M5500+Mendoza/@-32.8885385,-68.8461127,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x967e091b7458a1e3:0x3dfae019c07d61e5!2m2!1d-68.843924!2d-32.888543" target="_blank"><i class="fa-solid fa-map-location-dot"></i></a>  Espejo 391, Mendoza</li>
              </ul>                        
            </fieldset>
          
        </div>
        
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </section>
  </body>
</html>
