<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
        <link
          href="../assets/fontawesome-free-6.1.1-web/css/all.css"
          rel="stylesheet"
        />
    
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="shortcut icon" href="../assets/img/car-solid.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;500;900&display=swap" rel="stylesheet">
        <title>some Rent a car</title>
      </head>
<body>
<section id="wrapper-gral">
      <header>
        <nav class="menu">            
          <input  type="checkbox" id="check">
          <label for="check" class="checkBtn">
            <i class="fa-solid fa-bars" ></i>
          </label> 
          <img src="../assets/img/car_hero.png" alt=""/ class="logo"> 
          <ul> 
            <li><a href="../index.html">Inicio</a></li>                
            <li><a href="../views/nosotros.html">Nosotros</a></li>
            <li><a href="../views/nuestraFlota.html">Nuestra Flota</a></li>
            <li><a href="../views/condiciones.html">Condiciones</a></li>
            <li><a href="../views/faq.html">FAQ</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>    
        </nav>   
      </header>
      <main>
        <section>
            <div class="nosotros">
                <h1>¿Quienes Somos?</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium ligula a nisi eleifend imperdiet. Phasellus interdum, nunc vel molestie dignissim, purus nisi dapibus arcu, in consectetur sem nunc vel lectus. Duis vitae porta eros. Donec est purus, euismod sit amet rutrum id, ornare non lectus. Sed cursus felis nulla. Ut id tincidunt sapien. Vestibulum vel ultricies libero. Ut consectetur vulputate augue et viverra. Maecenas tincidunt euismod volutpat. Vivamus ullamcorper auctor ex finibus lobortis. Fusce sagittis ut sem et cursus. Nunc pulvinar mauris vel quam porttitor, mollis faucibus dolor tincidunt. Integer accumsan suscipit velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

        Integer ac ligula eget ipsum luctus volutpat. Pellentesque venenatis turpis ac tellus rutrum, at vehicula elit tincidunt. Proin dapibus vitae diam et dapibus. Mauris vehicula, lacus non sodales tempor, justo tellus cursus tortor, eu pharetra nunc arcu id massa. Aenean et massa non enim pharetra lacinia ac vel erat. Sed efficitur felis sit amet eros feugiat pulvinar. Fusce et laoreet metus, posuere varius lorem. Vestibulum vitae imperdiet felis, id eleifend sem. Donec vitae magna faucibus, fringilla lorem ut, porttitor nibh. In ac nisl pellentesque, fermentum metus et, dictum mauris. Quisque feugiat nisi sed leo mattis, non semper ante cursus.  
                </p>
            </div>
        </section>
      </main>
    
    <footer >
        <div class="row">
            <div class="col-md-3"></div>
          <div class="col-md-3 fuentes piePag">
              <ul>
                  <li><a href="../views/condiciones.html">Condiciones</a></li>
                  <li><a href="../views/faq.html">FAQ</a></li>
                  <li><a href="../views/nosotros.html">Nosotros</a></li>
                  <li><a href="../views/nuestraFlota.html">Nuestra Flota</a></li>
              </ul>
          </div>
          <div class="col-md-3 fuentes">
            
              <fieldset>
                  <legend id="contacto">Contactanos</legend>
                <ul>
                    <li><a href="mailto:augusto4809@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>  Reservas@somerentacar.com.ar</li>
                    <li><a href="https://api.whatsapp.com/send?phone=5492944922404" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>  Envianos un whatsapp</li>
                    <li><a href="https://www.google.com/maps/dir//Gral.+Espejo+391,+M5500+Mendoza/@-32.8885385,-68.8461127,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x967e091b7458a1e3:0x3dfae019c07d61e5!2m2!1d-68.843924!2d-32.888543" target="_blank"><i class="fa-solid fa-map-location-dot"></i></a>  Espejo 391, Mendoza  </ul>
                    </li>
                </ul>                        
              </fieldset>
            
          </div>
          <div class="col-md-3"></div>
        </div>       
    
        <div>
          <p class="derechos">® All rigths reserved</p>
        </div>
      </footer>
    </section>
</body>
    </html>