<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
        <link
          href="../assets/fontawesome-free-6.1.1-web/css/all.css"
          rel="stylesheet"
        />
    
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="shortcut icon" href="../assets/img/car-solid.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;500;900&display=swap" rel="stylesheet">
        <title>some Rent a car / Nosotros</title>
      </head>
<body>
<section id="wrapper-gral">
      <header>
        <nav class="menu">            
          <input  type="checkbox" id="check">
          <label for="check" class="checkBtn">
            <i class="fa-solid fa-bars" ></i>
          </label> 
          <img src="../assets/img/car_hero.png" alt="Imagen no disponible"/ class="logo"> 
          <ul> 
            <li><a href="../index.html">Inicio</a></li>                
            <li><a href="../views/nosotros.html">Nosotros</a></li>
            <li><a href="../views/nuestraFlota.html">Nuestra Flota</a></li>
            <li><a href="../views/condiciones.html">Condiciones</a></li>
            <li><a href="../views/faq.html">Preguntas Frecuentes</a></li>
            <li><a href="#contacto">Contacto</a></li>
          </ul>    
        </nav>   
      </header>
      <main>
        <section>
            <div class="nosotros">
                <h1>¿Quienes Somos?</h1>
                <p>
                    Somos Augusto Garcia y Juan Ignacio Navarro, socios y amigos. Hace más de 20 años que nos dedicamos 
                    al alquiler de autos en diferentes compañias y diferentes ciudades. Nuestra experiendia en el rubro
                    nos inpulso en 2019 a llevar nuestro sueño a cabo de crear nuestra propia empresa de alquiler de 
                    vehiculos en Mendoza. En SomeRentacar hacemos del alquiler de autos una tarea sencilla, aplicamos
                    las ultimas tendencias en innovacion tecnologica para que el proceso de reserva y contratacion
                    sea agil y rapido, sin intermediarios, sin largos tramites ni largas colas en los aeropuertos. <br><br>
                    Sabemos que una de las preocupaciones de los clientes es la cobertura del seguro, las franquicias
                    las garantias, las condiciones ocultas. En SomeRentacar tenemos una politica transparente, 
                    nuestro seguro es full para todas las categorias de vehiculos y todas las tarifas. 
                    Queremos que su viaje, sea por negocios o por placer, sea una experiencia única y que si en el periodo
                    de su renta tiene algun siniestro, nuestra cobertura será integral. Los invitamos a ver 
                    nuestras <strong> <a href="../views/condiciones.html">condiciones</a></strong> para despejar 
                    todas las dudas o desde la sección de <strong><a href="#contacto">contacto</a></strong> podemos 
                    responder a todas sus duas en el momento. <br><br>
                    <strong><a href="../views/nuestraFlota.html">Nuestra flota</a></strong> esta compuesta por vehiculos 
                    nuevos, pensados especialmente para cumplir con cada una de sus necesidades, desde vehiculos economicos
                    para pequeñas familias o parejas, mini-vans cpn gran capacidad de equipaje o grupos de hasta 
                    7 personas y vehiculos de doble traccion para los que se animan a la aventura. <br><br>
                    En SomeRentacar buscamos aprender de cada uno de nuestros clientes, brindar un servicio
                  de excelencia y por sobre todo que nos vuelvan a elegir y que nos recomienden.</p>
            </div>
        </section>
      </main>
    
    <footer >
        <div class="row">
            <div class="col-md-3"></div>
          <div class="col-md-3 fuentes piePag">
              <ul>
                  <li><a href="../views/condiciones.html">Condiciones</a></li>
                  <li><a href="../views/faq.html">Preguntas Frecuentes</a></li>
                  <li><a href="../views/nosotros.html">Nosotros</a></li>
                  <li><a href="../views/nuestraFlota.html">Nuestra Flota</a></li>
              </ul>
          </div>
          <div class="col-md-3 fuentes">
            
              <fieldset>
                  <legend id="contacto">Contactanos</legend>
                <ul>
                    <li><a href="mailto:augusto4809@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>  Reservas@somerentacar.com.ar</li>
                    <li><a href="https://api.whatsapp.com/send?phone=5492944922404" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>  Envianos un whatsapp</li>
                    <li><a href="https://www.google.com/maps/dir//Gral.+Espejo+391,+M5500+Mendoza/@-32.8885385,-68.8461127,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x967e091b7458a1e3:0x3dfae019c07d61e5!2m2!1d-68.843924!2d-32.888543" target="_blank"><i class="fa-solid fa-map-location-dot"></i></a>  Espejo 391, Mendoza  </ul>
                    </li>
                </ul>                        
              </fieldset>
            
          </div>
          <div class="col-md-3"></div>
        </div>       
    
        <div>
          <p class="derechos">® All rigths reserved</p>
        </div>
      </footer>
    </section>
</body>
    </html>